:root {
        --ic-brand-primary-darkened-5: #003D74;
--ic-brand-primary-darkened-10: #003A6E;
--ic-brand-primary-darkened-15: #003768;
--ic-brand-primary-lightened-5: #0C4980;
--ic-brand-primary-lightened-10: #195387;
--ic-brand-primary-lightened-15: #265C8D;
--ic-brand-button--primary-bgd-darkened-5: #003D74;
--ic-brand-button--primary-bgd-darkened-15: #003768;
--ic-brand-button--secondary-bgd-darkened-5: #26333D;
--ic-brand-button--secondary-bgd-darkened-15: #222E37;
--ic-brand-font-color-dark-lightened-15: #47535C;
--ic-brand-font-color-dark-lightened-28: #636D75;
--ic-link-color-darkened-10: #003A6E;
--ic-link-color-lightened-10: #195387;
--ic-brand-primary: #00407A;
--ic-brand-font-color-dark: #273540;
--ic-link-color: #00407A;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #273540;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #00407A;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #00407A;
--ic-brand-header-image: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_135440000000000001/attachments/165655/QUT_nav_icon.svg');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_135440000000000001/attachments/167588/favicon%20-%20QUT%20%25281%2529.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #334451;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #273540;
--ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }